/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.dropdown-menu{
  padding: 0;
}
.dropdown-menu li{
  border-bottom: 1px solid #ececec;
}
.dropdown-menu li:last-child{
  border-bottom: 0px solid #ececec;
}
.dropdown-menu li:hover{
  background-color: #5cbedf;
}
.dropdown-menu li:hover .text-dark{
  color: #fff !important;
}
.navbar-expand-sm .navbar-nav .nav-link{
  padding-left: .8rem;
  padding-right: .8rem;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.mb-3, .my-3{
  margin-bottom: 2rem !important;
}
.marginBottom1rem {
  margin-bottom: 1rem;
}
h1{
  margin-bottom: 1rem;
}
.btn-danger {
  box-shadow: none;
  border-radius: 6px;
  background-color: #dc3545;
  border: 0;
  color: #fff;
  padding: .375rem .75rem;
}
.btn-primary{
  color: #fff;
  background-color: #5cbedf;
  border-color: #5cbedf;
  border: 0;
  border-radius: 6px;
  padding: .375rem .75rem;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
