@{
    ViewData["Title"] = "Admin Home Page";
}
<div class="text-center">

    <h1 class="display-4">Welcome to CoolCat</h1>
    <div class="logo" style="padding: 30px">
        <img src="~/logo_small.png" />
    </div>

    <p style="margin-top:20px">
        CoolCat is a framework to help you create a dynamic plugin<br /> system under ASP.NET Core MVC.
        <br />

    </p>
    <p style="color:red; font-size:20px">
        This is the admin page
    </p>
</div>
