@model List<CoolCat.Core.DomainModel.CachedReferenceItemKey>
@{
    ViewData["Title"] = "Index";
}

<h1>Assemblies</h1>

<table class="table">
    <thead>
        <tr>
            <th>Assembly Name</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var row in Model)
            {
                <tr>
                    <td>@row.ReferenceName</td>
                    <td>@row.Version</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No Data.</td>
            </tr>
        }
    </tbody>
</table>


