
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <h1 class="display-4">Welcome to CoolCat</h1>
    <div class="logo" style="padding: 30px">
        <img src="~/logo_small.png" />
    </div>
    <p style="margin-top:20px; text-align:left">
        CoolCat is a framework to help you create a dynamic plugin<br /> system under ASP.NET Core MVC.
    </p>
    <p style=" margin-top: 20px; text-align: left; padding: 10px; border: 1px dashed; color: red; background: #ccc;">

        /Admin/System/Login is the admin login page, the fake login account is admin/admin
    </p>
</div>
