@model List<CoolCat.Core.ViewModels.PageRouteViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to CoolCat</h1>
    <div class="logo" style="padding: 30px">
        <img src="~/logo_small.png" />
    </div>
    <p style="margin-top:20px">
        CoolCat is a framework to help you create a dynamic plugin<br /> system under ASP.NET Core MVC.
    </p>
</div>
