
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@using (Html.BeginForm("Upload", "Plugins", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div class="form-group">

        <label for="exampleInputFile">Plugin Package</label>
        <input type="file" id="exampleInputFile" name="exampleInputFile">
        <p class="help-block">Upload a plugin package</p>

    </div>
    <button type="submit" class="btn btn-default">Submit</button>

}
