
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@using (Html.BeginForm("Upload", "Plugins", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div class="form-group">

        <label for="exampleInputFile">Plugin Package</label>
        <input type="file" class="form-control-file" id="exampleInputFile" name="exampleInputFile">
        <small id="emailHelp" class="form-text text-muted">Upload a plugin package</small>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

}
