
@{
    ViewData["Title"] = "Setup";
}

<h1>Setup</h1>


<p>
    Welcome to use Mystique.
</p>

<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Summary</a>
                </li>
            </ul>
        </div>
    </div>
</div>