@model CoolCat.Core.ViewModels.SiteSettingsViewModel
@{

}

<h1>Site Settings</h1>
@using (Html.BeginForm("SiteSettings", "System", FormMethod.Post))
{
    <div class="form-group">
        <label for="siteTemplate">Site Template:</label>
        @Html.DropDownListFor(p => p.SiteTemplateId, new List<SelectListItem>(), "-SELECT-", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="pwd">Global CSS:</label>
        @Html.TextAreaFor(p => p.SiteCSS, 3, 50, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Save</button>
}