@model List<Mystique.Core.ViewModels.PageRouteViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to use the Mystique.</h1>

    <p>
        Mystique is a framework to help you create a dynamic plugin system under ASP.NET Core MVC.
    </p>
</div>
